<div class="content-block">
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint rem eius quis, officiis asperiores ut perspiciatis mollitia tempore quibusdam repudiandae molestiae quae exercitationem! Ut debitis soluta ea corrupti atque!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quis laboriosam porro, nobis a corrupti quos deserunt tenetur vel, iste voluptatibus, totam numquam. Minus ea inventore suscipit quas ad rerum.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, ad! Esse minima natus doloremque suscipit magni dolore labore odit exercitationem commodi numquam excepturi obcaecati delectus quidem facilis, aperiam voluptatem. Vel.        
    </div>
</div>